html
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		title Tim Schieber | Front End Developer
		meta(name='description' content='Personal web site for Tim Schieber. A front end developer based in Kansas City.')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	
		include ../include/head-tags.jade
	
	body
		#feature.feature
			.content
				h1.primary-headline.txt-white Tim Schieber
				h2.secondary-headline.txt-gray-light Front End Developer
				ul.list-inline.list-social-media
					li: a(href='https://www.linkedin.com/in/timschieber' target='_blank'): span.icon-socicon_linkedin
					li: a(href='https://github.com/tschieber' target='_blank'): span.icon-socicon_github
		
		nav#primaryNav.primary-nav
			.container
				ul.list-inline.list-links.pull-left.hidden-xs
					li: a(href='#section-about-me') About Me
					li: a(href='#section-skills') Skills
					li: a(href='#section-portfolio') Portfolio
					li: a(href='#section-workflow') Workflow
					li: a(href='#section-contact') Contact
				
				.dropdown.visible-xs
					button.btn.btn-default.dropdown-toggle(type='button' id='primaryNavDropdown' data-toggle='dropdown' aria-expanded='false') Menu <span class="caret"></span>
					ul.dropdown-menu(role='menu' aria-labelledby='primaryNavDropdown')
						li(role='presentation'): a(role='menuitem' tabindex='-1' href='#section-about-me') About Me
						li(role='presentation'): a(role='menuitem' tabindex='-1' href='#section-skills') Skills
						li(role='presentation'): a(role='menuitem' tabindex='-1' href='#section-portfolio') Portfolio
						li(role='presentation'): a(role='menuitem' tabindex='-1' href='#section-workflow') Workflow
						li(role='presentation'): a(role='menuitem' tabindex='-1' href='#section-contact') Contact
				
				a.btn.btn-primary.action(href='assets/tim-schieber-resume.pdf' target='_blank') Resum&Eacute; &nbsp;<span class="glyphicon glyphicon-file"></span>
		
		include section/about-me.jade
		include section/skills.jade
		include section/portfolio.jade
		include section/workflow.jade
		include section/contact.jade
		
		include ../include/footer.jade
		include ../include/scripts.jade