extends ../../template/modal.jade

block vars
	- var modal_id = 'modalOtherJsfiddle'
	- var title = 'JSFiddle: Snippets'

block content
	.row
		.col-sm-6
			img.img-responsive(src='http://lorempixel.com/800/800/people/')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Here are a number of fiddles I've created on JSFiddle.
			
			h6.secondary-headline.sm Features
			ul
				li <a href="http://jsfiddle.net/timschieber/VLvSW/" target='_blank'>Create List
				li <a href="http://jsfiddle.net/timschieber/FdAyV/" target='_blank'>Disable Body Scroll
				li <a href="http://jsfiddle.net/timschieber/33WnR/" target='_blank'>File Upload Validation
				li <a href="http://jsfiddle.net/timschieber/m8bT4/" target='_blank'>Honeypot
				li <a href="http://jsfiddle.net/timschieber/792e8v1e/" target='_blank'>Responsive Table
			
			.padding-top
				a(href='http://jsfiddle.net/' target='_blank') http://jsfiddle.net/