extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectGarminFenix3'
	- var title = 'Garmin: Fenix 3'

block content
	.row
		.col-sm-6
			img.img-responsive(src='http://lorempixel.com/800/800/people/')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Marketing page for fitness watch. Was built in Laravel framework and was fully responsive. 
			
			h6.secondary-headline.sm Features
			ul
				li Responsive
				li Built in Laravel
			
			.padding-top
				a(href='http://fenix3.garmin.com/en-US/' target='_blank') http://fenix3.garmin.com/en-US/