extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectHylaCustomerPortal'
	- var title = 'HYLA Mobile: Customer Portal'

block content
	.row
		.col-sm-6
			img.img-responsive(src='images/screenshots/hyla-customer-portal.jpg')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Front end templates for new customer portal application. Unfortunately project was never completed but was a really cool project.
			
			h6.secondary-headline.sm Features
			ul
				li Icon font
				li Highly customized JavaScript
				li Lots of form elements/actions
				li Responsive
			
			.padding-top
				// a(href='http://customer-portal-ui.erc.levelfivesolutions.net/' target='_blank') http://customer-portal-ui.erc.levelfivesolutions.net/