extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectCMHInsidePediactrics'
	- var title = 'Children\s Mercy Hospital: Inside Pediatrics'

block content
	.row
		.col-sm-6
			img.img-responsive(src='http://lorempixel.com/800/800/people/')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Micro site to showcase Inside Pediactrics television series. Lots of video and fully responsive.
			
			h6.secondary-headline.sm Features
			ul
				li Social Media
				li Heavy Video Content
				li Responsive
			
			.padding-top
				a(href='http://www.insidepediatrics.com/' target='_blank') http://www.insidepediatrics.com/