extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectCMHMarketingPages'
	- var title = 'Children\s Mercy Hospital: Marketing Pages'

block content
	.row
		.col-sm-6
			img.img-responsive(src='images/screenshots/cmh-marketing-pages.jpg')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Set of static marketing templates to be used for various advertising campaigns. Supported several different layouts that could be mixed and matched.
			
			h6.secondary-headline.sm Features
			ul
				li Social Media
				li Video Content
				li Forms
				li Icon Font
				li Easily change elements with simple CSS class changes
				li Responsive
			
			.padding-top
				// a(href='http://marketing-landing-templates.cmh.levelfivesolutions.net/app/' target='_blank') http://marketing-landing-templates.cmh.levelfivesolutions.net/app/