extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectL5CoffeeAndDesign'
	- var title = 'Level Five Solutions: Coffee & Design'

block content
	.row
		.col-sm-6
			img.img-responsive(src='images/screenshots/l5-coffee-and-design.jpg')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Landing page for Coffee & Design promotion. Twitter integration as well as interactive drawing contact form.
			
			h6.secondary-headline.sm Features
			ul
				li Custom Twitter feed
				li Heavy use of SVG's
				li Form with drawing tool
				li Responsive
			
			.padding-top
				// a(href='http://www.levelfivesolutions.com/coffeeanddesign/' target='_blank') http://www.levelfivesolutions.com/coffeeanddesign/