extends ../../template/modal.jade

block vars
	- var modal_id = 'modalProjectHylaATTBuyback'
	- var title = 'HYLA Mobile: AT&T Buyback'

block content
	.row
		.col-sm-6
			img.img-responsive(src='http://lorempixel.com/800/800/people/')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Front end templates for AT&T Buyback application. Lots of fun custom design and interactive elements.
			
			h6.secondary-headline.sm Features
			ul
				li Custom form elements
				li Highly Customized JavaScript
				li Lots of SVG's and icon fonts for graphics
				li Responsive
			
			.padding-top
				a(href='https://buyback.att.com' target='_blank') https://buyback.att.com