extends ../../template/modal.jade

block vars
	- var modal_id = 'modalOtherJsfiddle'
	- var title = 'JSFiddle: Snippets'

block content
	.row
		.col-sm-6
			img.img-responsive(src='images/screenshots/jsfiddle-snippets.jpg')
		
		.col-sm-6
			h6.secondary-headline.sm Description
			p Here are a number of fiddles I've created on JSFiddle.
			
			h6.secondary-headline.sm Links to Fiddles
			ul
				li <a href="http://jsfiddle.net/timschieber/VLvSW/" target='_blank'>Create List</a>
				li <a href="http://jsfiddle.net/timschieber/FdAyV/" target='_blank'>Disable Body Scroll</a>
				li <a href="http://jsfiddle.net/timschieber/33WnR/" target='_blank'>File Upload Validation</a>
				li <a href="http://jsfiddle.net/timschieber/m8bT4/" target='_blank'>Honeypot</a>
				li <a href="http://jsfiddle.net/timschieber/792e8v1e/" target='_blank'>Responsive Table</a>
