.section-panel#section-about-me
	.container
		.row
			.col-sm-12.padding-bottom
				h3.primary-headline.txt-align-center About Me
				hr.hr-fade.line-dark
				p.txt-xl Hi! My name is Tim Schieber and I am a front end developer based in Kansas City. I've been doing development for the past decade and enjoy the capabilities/challenges that code presents.
				p Feel free to take a look at my portfolio and drop me a line if you'd like to chat!

			.col-sm-3
				img.img-responsive(src='http://lorempixel.com/800/800/people/')

			.col-sm-3
				h5.subhead Quick Look
				ul.plain
					li <strong>Something:</strong> Something else
					li <strong>Something:</strong> Something else
					li <strong>Something:</strong> Something else
					li <strong>Something:</strong> Something else
					li <strong>Something:</strong> Something else

			.col-sm-6
				h5.subhead More Stuff
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim at ex malesuada aliquet. Etiam dignissim commodo diam, non blandit odio tempus vel. Sed vitae est nec sapien maximus fermentum sed ut nibh. Morbi sit amet sapien interdum, finibus mi nec, tempus erat. Nullam mattis est quam, id pulvinar massa placerat id. Sed egestas metus vitae molestie bibendum. Fusce et urna ut odio convallis pellentesque.