.section-panel#section-about-me
	.container
		.row
			.col-sm-12.padding-bottom
				h3.primary-headline.txt-align-center About Me
				hr.hr-fade.line-dark
				p.txt-xl Hi! My name is Tim Schieber and I am a front end developer based in Kansas City. I've been doing development for the past decade and enjoy the capabilities/challenges that code presents.
				p Feel free to take a look at my portfolio and drop me a line if you'd like to chat! View all the code for this site <a href="https://github.com/tschieber" target="_blank">on my GitHub</a>.

			.col-sm-3
				img.img-responsive(src='images/profile.jpg')

			.col-sm-5
				h5.subhead Quick Look
				ul.plain
					li <strong>Specialty:</strong> HTML/CSS/JavaScript
					li <strong>Experience:</strong> Agency, Corporate and Contractor
					li <strong>Education:</strong> Buena Vista University, Storm Lake, IA
					li <strong>Notable Clients:</strong>
						ul
							li BNSF Railway
							li Children's Mercy Hospital
							li HYLA Mobile
							li Garmin
							li Sprint

			.col-sm-4
				h5.subhead Notes About Me
				p I love internet memes, Sporting KC, terrible 80s action movies and sushi. I've been to Japan and would like to travel to Germany.