.section-panel.bg-gray-dark.txt-white#section-skills
	.container
		.row
			.col-sm-12.padding-bottom
				h3.primary-headline.txt-align-center Skills
				hr.hr-fade.line-dark

			.col-sm-3
				h4.secondary-headline HTML
				ul.list-group.theme-dark
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> XHTML
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> HTML5
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Semantic Markup

			.col-sm-3
				h4.secondary-headline CSS
				ul.list-group.theme-dark
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> CSS3
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Modular Code Patterns
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Grids
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Responsive
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Sass/Less
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Animation

			.col-sm-3
				h4.secondary-headline JavaScript
				ul.list-group.theme-dark
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Scalable Architecture
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> DRY Code
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> jQuery
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Ajax
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Custom Plugins
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> Forms

			.col-sm-3
				.col-sm-4
				h4.secondary-headline Tools
				ul.list-group.theme-dark
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> <a href="http://gulpjs.com/" target="_blank">Gulp</a>
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> <a href="http://jade-lang.com/" target="_blank">Jade</a>
					li.list-group-item <span class="glyphicon glyphicon-ok padding-right"></span> <a href="https://icomoon.io/" target="_blank">Icomoon</a>