.section-panel#section-workflow
	.container
		.row
			.col-sm-12.padding-bottom
				h3.primary-headline.txt-align-center Workflow
				hr.hr-fade.line-dark
				
				p.txt-lg I've worked with many different workflows and am always up for trying something new. But given the opportunity to define my own, here is what I would use...
				
			.col-md-4
				h5.subhead Getting Started
				ul
					li <strong>Mac/PC</strong>: Comfortable with both but would prefer a Mac.
					li <a href="http://brackets.io/" target="_blank"><strong>Brackets</strong></a>: Code editor of choice. Modern, lightweight and lots of plugins.
					li <strong>Chrome</strong>: Great developer tools.
					li <strong>Retina Screen</strong>: Love making sites look good in hi res.
					li <a href="https://nodejs.org/" target="_blank"><strong>Node.js</strong></a>: To run things listed in "Development" column.
					li <a href="https://git-scm.com/" target="_blank"><strong>Git</strong></a>: Awesome version control.
			
			.col-md-4
				h5.subhead Development
				ul
					li <strong>HTML5</strong>: Gotta love those semantic tags.
					li <strong>CSS3</strong>: Graceful degradation for older IE browsers.
					li <a href="http://gulpjs.com/" target="_blank"><strong>Gulp.js</strong></a>: Easy to use task runner.
					li <a href="http://jade-lang.com/" target="_blank"><strong>Jade</strong></a>: Amazing templating engine.
					li <a href="http://sass-lang.com/" target="_blank"><strong>Sass</strong></a>: CSS to the next level.
					li <a href="https://github.com/ryanbenson/Harvest" target="_blank"><strong>Harvest</strong></a>: Gulp boilerplate.
					li <a href="https://icomoon.io/" target="_blank"><strong>IcoMoon</strong></a>: Creating icon fonts.
			
			.col-md-4
				h5.subhead Frameworks/Plugins
				ul
					li <a href="https://jquery.com/" target="_blank"><strong>jQuery</strong></a>: Simplifying JavaScript usage.
					li <a href="http://getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a>: Probably just the grid but will pull in other things (i.e. modals) as needed.
					li <a href="https://daneden.github.io/animate.css/" target="_blank"><strong>Animate.css</strong></a>: Add some simple animations.
					li <a href="http://jqueryvalidation.org/" target="_blank"><strong>jQuery Validation Plugin</strong></a>: Front end form validation and handling Ajax submission.
					li <a href="http://kenwheeler.github.io/slick/" target="_blank"><strong>slick</strong></a>: Highly customizable and wonderfully responsive carousel.